<pre *ngIf="auth.userProfile$ | async as profile">
{{ profile | json }}


<div>
  <form class="example-container" [formGroup]="profileForm">
  <!-- ToDo -->
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>Currency</mat-label>
    <input matInput placeholder="currency" formControlName="currency">
  </mat-form-field>

  <!-- ToDo -->
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput placeholder="name" formControlName="name" required>
  </mat-form-field>

  <!-- ToDo -->
  <mat-form-field class="full-width" appearance="standard" >
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" formControlName="email" required>
  </mat-form-field>

  <!-- ToDo -->
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Change password" >
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
</pre>
