.example-container {
  display: flex;
  flex-direction: column;
}

mat-card{
  margin-left: 15% ;
  margin-right: 15% ;
  text-align: center;

}

.password{
margin-right: 10%;
}

.password-verif{
  margin-left: 10%;

}

.example-container > * {
  width: 100%;
}

.full-width {
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}
