.display-center{
 width:70%;
margin-left: 15%;
  margin-right: 15%;
}

img{
  width : 30px;
  height: 30px;
}


table {
  width: 100%;
  margin: auto;
}

.red {
  color: #f05050;
}

.green {
  color: limegreen;
}
.center {
  margin: auto;
}
