.image-article{
  width:100%;
}
.image-container {
  margin: 10px;
  margin-left : 42%;
  margin-right: 42%;
  display: block;
}

.article{
  padding :40px;
  border:lightblue 2px solid;
}


a:hover {
  text-decoration: none;
  color: purple;
  }

 .article-link{
   text-align:center;
 }

.article-container{
  margin: 50px;
  padding:20px;
  background-color: #d6f4ff;
  opacity: 100%;

}

.article-title{
  font-weight: bold;
  text-align: center;
}
