.image-article{
  width:100%;
}
.image-container {
  margin: auto;
  background-size: cover;
  padding: 10px;
  width: 480px;
  display: block;
}

.article{
  padding :40px;
}


a:hover {
  text-decoration: none;
  color: purple;
  }

 .article-link{
   text-align:right;
 }

.article-container{
  margin: 50px;
  padding:20px;
  opacity: 100%;

}

.article-title{
  font-weight: bold;
  text-align: center;
}
