table {
  width: 800px;
  margin: auto;
  }

.crypto-param{

  width: 40%;
  margin: auto;
  align-content: center;
  }
 img {
  height: 40px;
   width: 40px ;
}
 .red {
   color: #f05050;
 }

 .green {
   color: limegreen;
 }
.center {
  margin: auto;
}

