table {
  width: 800px;
  margin: auto;
  }

mat-form-field{
  width: 30%;
  margin-left: 35%;
  margin-right: 30%;
}
 img {
  height: 40px;
   width: 40px ;
}
 .red {
   color: #f05050;
 }

 .green {
   color: limegreen;
 }
.center {
  margin: auto;
}

