.example-card {
  width: 350px;
  margin: 20px;
}
.main-display{
  margin-left: 5%;
  margin-right: 5%;
}
.mat-card-content{
 margin: 25px
}
.article-list-image{
  background-size: cover;
  padding: 10px;
  width: 350px;
}

.close-button{
text-align: end}


.example-card {
  width: 30%;
}


.flex-display{
  display: flex;
  flex-wrap: wrap;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.crypto-param-inputs {
  display: flex;
}

.crypto-param-inputs > p:nth-child(1) {
  margin-right: 10vh;
}
