.example-card {
  width: 30vw;
  margin: 20px;

  &:hover {
    cursor: pointer;
  }
}
.main-display{
  margin-left: 5%;
  margin-right: 5%;
}
.mat-card-content{
 margin: 25px
}

.mat-card-title {
  min-height: 15vh;
}

.article-list-image{
  background-size: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.close-button{
text-align: end}


.example-card {
  width: 30%;
}


.flex-display{
  display: flex;
  flex-wrap: wrap;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.crypto-param-inputs {
  display: flex;
  justify-content: space-evenly;
}

.crypto-param-inputs > p:nth-child(1) {
  margin-right: 10vh;
}

.crypto-param-inputs p {
  background-color:#424242;
  padding: 15px;
  color:white;
}

.centered-p {
  padding-top: 30px;
}
